apiVersion: v1
data:
  application.yml: |
    server:
      port: 9091
    spring:
      application:
        name: gateway-service
      cloud:
        gateway:
          routes:
            - id: user-service
              uri: http://user-service:8081
              predicates:
                - Path=/api/users/**
            - id: product-service
              uri: http://product-service:8082
              predicates:
                - Path=/api/products/**
            - id: product-images
              uri: http://product-service:8082
              predicates:
                - Path=/images/products/**
            - id: order-service
              uri: http://order-service:8083
              predicates:
                - Path=/api/orders/**
            - id: payment-service
              uri: http://payment-service:8084
              predicates:
                - Path=/api/payments/**
kind: ConfigMap
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"v1","data":{"application.yml":"server:\n  port: 9091\nspring:\n  application:\n    name: gateway-service\n  cloud:\n    gateway:\n      routes:\n        - id: user-service\n          uri: http://user-service:8081\n          predicates:\n            - Path=/api/users/**\n        - id: product-service\n          uri: http://product-service:8082\n          predicates:\n            - Path=/api/products/**\n        - id: product-images\n          uri: http://product-service:8082\n          predicates:\n            - Path=/images/products/**\n        - id: order-service\n          uri: http://order-service:8083\n          predicates:\n            - Path=/api/orders/**\n        - id: payment-service\n          uri: http://payment-service:8084\n          predicates:\n            - Path=/api/payments/**\n"},"kind":"ConfigMap","metadata":{"annotations":{},"name":"gateway-config","namespace":"default"}}
  creationTimestamp: "2025-12-26T06:38:57Z"
  name: gateway-config
  namespace: default
  resourceVersion: "77118"
  uid: 22e56495-e5ea-4e53-9a0a-390a8d86f435
