apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: ghcr.io/amy397/order-service:latest
          ports:
            - containerPort: 8083
          resources:
            requests:
              cpu: "200m"
              memory: "512Mi"
            limits:
              memory: "1Gi"
          env:
            - name: SPRING_DATASOURCE_URL
              value: jdbc:mysql://mysql:3306/order_db?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
            - name: SPRING_DATASOURCE_USERNAME
              value: root
            - name: SPRING_DATASOURCE_PASSWORD
              value: root1234
            - name: SERVICE_USER_URL
              value: http://user-service:8081
            - name: SERVICE_PRODUCT_URL
              value: http://product-service:8082
